<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xmission.trevin.android.todo"
      android:versionCode="3"
      android:versionName="1.1.1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon"
     android:label="@string/app_name"
     android:theme="@style/Theme.Light.WithActionBar"
     android:allowBackup="true">
        <activity android:name=".ToDoListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
        	<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
	    </intent-filter>
	</activity>

	<provider android:name="ToDoProvider"
		  android:authorities="com.xmission.trevin.android.todo.ToDo">
	</provider>

	<activity android:name="CategoryListActivity"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo.category"/>
	    </intent-filter>
	</activity>

	<activity android:name="ExportActivity"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.settings.SYNC_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="ImportActivity"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.settings.SYNC_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="PreferencesActivity">
	    <intent-filter>
		<action android:name="android.settings.APPLICATION_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="ToDoDetailsActivity">
	    <intent-filter>
		<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
	    </intent-filter>
	</activity>

	<activity android:name="ToDoNoteActivity">
	    <intent-filter>
		<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.todo"/>
	    </intent-filter>
	</activity>

	<service android:exported="false"
		 android:label="@string/service_name_password_change"
		 android:name=".PasswordChangeService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_alarm"
		 android:name=".AlarmService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_import_palm"
		 android:name=".PalmImporterService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_import_xml"
		 android:name=".XMLImporterService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_export"
		 android:name=".XMLExporterService">
	</service>

	<receiver android:name=".AlarmInitReceiver">
	    <intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED"/>
		<action android:name="android.intent.action.DATE_CHANGED"/>
		<action android:name="android.intent.action.TIME_SET"/>
		<action android:name="android.intent.action.TIMEZONE_CHANGED"/>
	    </intent-filter>
	</receiver>

    </application>

    <uses-sdk android:minSdkVersion="8"
	      android:targetSdkVersion="15"/>
</manifest>
